<?xml version='1.0' encoding='utf-8'?>
<agent name='$AgentName' xmlns='http://www.lotus.com/dxl' version='12.0'
 maintenanceversion='1.0'  hide='v3' publicaccess='false' designerversion='10'>
<trigger type='actionsmenu'/>
<documentset type='selected'/>

<code event='action'><formula>@Text("test");
SELECT @All</formula>
</code>

<rundata processeddocs='0' exitcode='0'>
<agentmodified><datetime dst='true'>20240306T144046,25+03</datetime></agentmodified>
<runlog></runlog>
</rundata>
</agent>