<?xml version="1.0" encoding="UTF-8"?>
<root>
	<devices>
		<device name="Google Nexus One" key="NexusOne" screenDPI="252" type="AND"/>
		<device name="Samsung Galaxy Tab" key="600x986:600x1024" screenDPI="168" type="AND"/>
		<device name="Apple iPad" key="iPad" screenDPI="132" type="IOS"/>
		<device name="Apple iPhone 4" key="iPhone" screenDPI="326" type="IOS"/>
		<device name="Apple iPhone 6/6S/7" key="750x1294:750x1334" screenDPI="326" type="IOS"/>
	</devices>
</root>