
ide/MoonshineDESKTOPevolved/bin/
ide/MoonshineDESKTOPevolved/bin-debug/
ide/MoonshineDESKTOPevolved/MoonshineDESKTOPevolved.iml
ide/MoonshineSharedCore/MoonshineSharedCore.iml
vscode-nextgenas_MoonshineModifications/build/
ide/MoonshineSharedCore/bin/MoonshineSharedCore.swc
ide/MoonshineWorker/MoonshineWorker.iml
ide/MoonshineDESKTOPevolved/obj/MoonshineDESKTOPevolvedConfig.xml
ide/MoonshineSharedCore/obj/MoonshineSharedCoreConfig.xml
.idea/
vscode-nextgenas_MoonshineModifications/vscode-nextgenas_MoonshineModifications.iml
vscode-nextgenas_MoonshineModifications/dist/
.DS_Store
*.code-workspace
.vscode/
asconfig.json
ide/MoonshineDESKTOPevolved/build/DEPLOY/MoonshineDevelopment.exe
