ide/MoonshineDESKTOPevolved/bin/
ide/MoonshineDESKTOPevolved/bin-debug/
ide/MoonshineDESKTOPevolved/MoonshineDESKTOPevolved.iml
ide/MoonshineSharedCore/MoonshineSharedCore.iml
vscode-nextgenas_MoonshineModifications/build/
ide/MoonshineSharedCore/bin/MoonshineSharedCore.swc
ide/MoonshineWorker/MoonshineWorker.iml
ide/MoonshineDESKTOPevolved/obj/MoonshineDESKTOPevolvedConfig.xml
ide/MoonshineSharedCore/obj/MoonshineSharedCoreConfig.xml
ide/MoonshineWEBevolved/obj/
ide/MoonshineWEBevolved/bin-debug/
ide/MoonshineWEBevolved/build/bin-debug/
ide/MoonshineWEBevolved/build/elements/
ide/MoonshineWorker/obj/
ide/MoonshineWorker/bin/
ide/FileSystemWatcherWorker/bin/
library/ApacheFlexSDKInstallerLib/obj/
.idea/
language-server-wrappers/moonshine-as3mxml/moonshine-as3mxml.iml
language-server-wrappers/moonshine-as3mxml/dist/
language-server-wrappers/moonshine-as3mxml/build/
.DS_Store
*.code-workspace
.vscode/
ide/MoonshineDESKTOPevolved/build/DEPLOY/
ide/MoonshineDESKTOPevolved/bin-release/
ide/MoonshineDESKTOPevolved/build/bin-debug/
ide/MoonshineDESKTOPevolved/build/elements/
ide/MoonshineDESKTOPevolved/build/helperResources/
ide/MoonshineDESKTOPevolved/build/tourDeFlex/
ide/MoonshineDESKTOPevolved/build/installer/sdk-installer-config-4.0.xml
**/*.swp
ide/MoonshineSharedCore/src/elements/templates/projects/Domino Project/nsfs/.gitignore


ide/MoonshineGUICore/bin/**/haxe
ide/MoonshineGUICore/bin/**/obj
