# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.classpath
.checkstyle
.factorypath
.project
.settings
*.launch

## VSCode
.vscode/

# Codegen
.generated
.apt_generated
generated_src/
**/src/generated/

# OS X
.DS_Store

# Java
*.class

# Build Systems
.gradle/
bin/
build/
out/

# Log Files
**/*.log
