<?xml version="1.0" encoding="utf-8"?>
<project>
    <gradleBuild>
      <option commandLine="clean run"/>
    </gradleBuild>
    <mavenBuild>
      <option commandLine="clean package"/>
    </mavenBuild>
    <classpaths>
        <class path="$SourcePath" />
    </classpaths>
</project>