<?xml version="1.0" encoding="utf-8"?>
<subform name='Domino Visual Editor Sub Form' version="9.0" maintenanceversion="1.4" replicaid="4825808B00336E81" xmlns="http://www.lotus.com/dxl"> 
<body>
<richtext>
</richtext>
</body>
</subform>