@namespace "http://www.w3.org/1999/xhtml";
@namespace j "library://ns.apache.org/royale/jewel";

.jewel.application {
	overflow: hidden !important;
	color: #333333;
}

.jewel.label.smallFont {
	fontSize: 12px !important;
}

.jewel.label.italic {
	fontStyle: italic !important;
}

.jewel.label.labelTextAlignRight {
	textAlign: right !important;
}

.jewel.section.sectionCenter {
   alignItems: center;
}

.horizontalContentShrinkFormItem {
	IFormItemContentArea: ClassReference("classes.beads.ContentGroupShrinkForm");
}

.dataGridOwner {
	IBeadView: ClassReference("classes.beads.CustomDataGridView");
}

.jewel.label.formFieldDescription {
	fontSize: 12px;
	color: #666666;
}

.jewel.label.errorText {
	fontSize: 14px;
	color: #ff0000;
	textAlign: center;
}

.bodyPadding {
	padding: 20px;
}