<?xml version="1.0" encoding="utf-8"?>
<project>
	<gradleBuild>
      <option commandLine="clean build"/>
    </gradleBuild>
  <classpaths>
    <class path="src/main/java"/>
  </classpaths>
  <build>
    <option mainclass="$ProjectName"/>
  </build>
  <options>
  </options>
</project>